.container-company-signin {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: #f7f7ff;
}

.company-title-signin {
  min-width: 450px;
  font-weight: bold;
  font-size: 28px;
  text-align: center;

  margin-bottom: 24px;
}

.company-form-signin {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.company-input-signin {
  width: 100%;
  padding: 16px 22px 16px 40px;
  border-bottom: 2px solid #757575;
  color:#616161;
  font-size: 16px;
  background-color: transparent;
}

.company-input-signin:focus {
  border-bottom: 2px solid #407BFF;
  outline: none;
}

.company-button-signin {
  margin-top: 36px;
  background-color: #407BFF;
  color: #f7f7ff;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 600;

  height: 60px;
  width: 180px;

  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.company-button-signin:hover {
  cursor: pointer;
  background-color: #3367CC;
  color: #f7f7ff;
  transform: scale(1.05);
}

.company-buttons-signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-link-signin {
  display: flex;
  gap: 8px;

  cursor: pointer;

  margin-top: 24px;

  color: #616161;
  font-size: 16px;
  font-weight: bold;
}

.company-messageErrorInputs-signin {
  color: #ff7b5a;
  font-weight: lighter;

  margin-left: 10px;
}

.company-messageErrorApi-signin {
  color: #ff7b5a;
  font-weight: bold;

  margin-top: 12px;
  margin-bottom: -24px;
}